.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 740px;
  margin: 0 auto 0 auto;
}

h3 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
}

h3#article-header {
  font-size: 24px;
}

h3.comment-reply-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

h3.comment-reply-title {
  font-weight: 200;
  line-height: 1.1;
  color: inherit;
}

div.alert {
  float: left;
  width: 740px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

div.alert {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1 px solid transparent;
  border-radius: 4px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div {
  display: block;
}

div.comment-form-author {
  float: left;
  margin: 0 0 1em 0;
  width: 350px;
}

div.comment-form-email {
  float: left;
  margin: 0 0 1em 2.5em;
  width: 350px;
}

div.comment-form-url {
  margin: 0 0 1em 0;
  width: 740px;
}

div.comment-form-comment {
  margin: 0 0 1em 0;
  width: 740px;
}

div.comment-form-author {
  flex-grow: 1;
}

