html {
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .04em;
  margin: 0;
  background-color: white;
}

/********************LARGE BACKGROUND IMAGE STYLING*******************/

.main-image {
  background-image: url("http://www.mrwallpaper.com/wallpapers/beautiful-landscape-2560x1600.jpg");
  background-position: center center;
}

.main-image {
  clear: both;
  background-color: #fcc900;
  width: 100%;
  height: 39.72em;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Pacifico', sans-serif;
}

.main-image p {
  color: #fcc900;
  text-shadow: 1px 1px 1px #7F7F7F;
  font-size: 3em;
  text-align: right;
  line-height: .92em;
  padding: 17px 2% 0 0;
}

.main-image span {
  font-size: .7em;
}

/********** NAVIGATION STYLING **************/

#header h1 a {
  color: #fff;
}

#header {
  position: fixed;
  background: transparent;
  width: 100%;
}

h1 {
  float: left;
  padding: 6px 0 7px 15px;
  font-family: 'Pacifico', sans-serif;
  font-size: 2.7em;
  margin: 0;
}

#nav {
  float: right;
  list-style: none;
  text-align: center;
  padding: 34px 5px;
  margin: auto 0;
}

#nav li {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: .125em;
  padding: 0 1em;
  width: 45px;
  text-align: left;
  display: inline;
}

#nav li a {
  padding: 2.29em 0;
}

#nav li a:hover {
  color: #fcc900;
}

li a, h1 a {
  text-decoration: none;
  color: #fff;
  text-align: left;
}